.video53 {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}

.video53 iframe {
	float: left;
	width: 300px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.video53 .right {
	float: left;
	margin-left: 10px;
}

.video53 h3 {
	margin-top: 0;
}