.news {
	margin: 0;
	padding: 0;
}

.news img {
	margin-right: 10px;
	margin-top: 20px;
}

.news_2images img {
	margin-right: 10px;
	margin-top: 5px;
}

.news .box {
	margin-left: 200px;
	margin-right: 20px;
}

.news_2images .box {
	margin-left: 100px;
	margin-right: 20px;
}

.news_2images .box_2images {
	float: left;
	width: 95px;
}
  
.news_styles {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 7px 0;
	margin: 5px 0 12px 0;
	float: left;
	width: 100%;
}
.news_styles p {
	margin: 0;
}

.news_styles a {
	margin: 0 6px;
}
.news_styles a img {
	border: 1px solid rgba(0,0,0, 0);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.news_styles a.current img,
.news_styles a:hover img {
	/*opacity: 0.5;*/
	border: 1px solid rgba(0,0,0, 0.5); 
}

.news_styles a.current,
.news_styles a.current:link,
.news_styles a.current:visited,
.news_styles a.current:hover {
	cursor: default;
}

.news_styles a.current img,
.news_styles a.current:link img,
.news_styles a.current:visited img, 
.news_styles a.current:hover img
{
	
	border: 1px solid rgba(0,0,0,0.5 ); 
}
